<%- include('./partials/header') %>

  <div class="w-screen  h-full text-center ">
    <img
      src="https://cdn-icons-png.flaticon.com/512/2748/2748558.png"
      alt="Bag Not Found"
      class="mx-auto w-32 h-32 mb-6"
    />

    <h1 class="text-5xl font-bold text-gray-900 mb-2">404</h1>
    <p class="text-2xl font-semibold text-gray-700 mb-4">
      Oops! Page not found
    </p>
    <p class="text-gray-600 mb-6">
      We can’t find the page you’re looking for. Maybe the bag you’re looking
      for got lost in our warehouse?
    </p>

    <a
      href="/"
      class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-6 rounded-lg transition"
    >
      Back to Home
    </a>
  </div>
<%- include('./partials/footer') %>
