<%- include('./partials/header') %>

<div class="w-full h-screen flex items-center justify-center bg-gray-100">
  Welcome to profile ,
  <h3 class="text-3xl font-bold">Name :- <%= user.fullname %></h3>
</div>
<%- include('./partials/footer') %>
